<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Path AI</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<style media="screen">
  title {
    color: #E57460;
  }

  body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #E57460; /* red */
    text-align: center;
    background-color: #30363D;
  }

</style>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Path AI</a>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Help</button>
        </div>
    </nav>
    <div class="container">
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
</body>

<div class="padding"></div>

<footer>
  <div class="col-sm-12">
    <h3 id="contact">Contact</h3>
    <span>Contact us at ___ or at the links below.</span>
    <br>
    <a href="https://github.com/jchen42703" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/joseph-chen-47b74615a/" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/mexicanfiesta420/" class="fa fa-instagram"></a>
  </div>
  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</footer>

</html>
